/*
 *  CSS Page
 * ------------------------------------------------------------------------------
 */
h1.article-title,
h2.article-title {
    display: block;
    font-family: BayonV8Khmer,Arial,Helvetica,sans-serif;
    color: #032ea1;
    line-height: 36px;
}
.title-footer .date,
.title-footer i {
    color: #777777;
}
#post-content img {
    max-width: 100%;
    height: auto !important;
}
#post-content div {
    margin-bottom: 1rem;
}

/*
 *  Responsive
 * ------------------------------------------------------------------------------
 */
/* Large devices (desktops, less than 1200px) */
@media only screen and (max-width: 1199.98px) {

}
/* Medium devices (tablets, less than 992px) */
@media only screen and (max-width: 991.98px) {

}
/* Landscape phones and portrait tablets */
@media only screen and (max-width: 767.98px) {
    .bg-block {
        background-color: #DCDCDC;
    }
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .bg-block {
        margin-left: -1rem;
        margin-right: -1rem;
    }

}
