/*
 *  CSS Page
 * ------------------------------------------------------------------------------
 */
/* program category */
.eps ul li {
    margin-bottom: 15px;
}
.eps ul li a {
    font-size: 14px;
    line-height: 28px;
}

/*
 *  Responsive
 * ------------------------------------------------------------------------------
 */
/* Large devices (desktops, less than 1200px) */
@media only screen and (max-width: 1199.98px) {

}
/* Medium devices (tablets, less than 992px) */
@media only screen and (max-width: 991.98px) {

}
/* Landscape phones and portrait tablets */
@media only screen and (max-width: 767.98px) {

}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}
