/*
 *  CSS Page
 * ------------------------------------------------------------------------------
 */
.error_number {
    font-size: 156px;
    font-weight: 600;
    line-height: 100px;
}
.error_number small {
    font-size: 56px;
    font-weight: 700;
}
.error_number hr {
    margin-top: 60px;
    margin-bottom: 0;
    width: 50px;
}
.error_title {
    margin-top: 40px;
    font-size: 36px;
    font-weight: 400;
}
.error_description {
    font-size: 24px;
    font-weight: 400;
}
.text-muted {
    color: #869ab8!important;
}

/*
 *  Responsive
 * ------------------------------------------------------------------------------
 */
/* Large devices (desktops, less than 1200px) */
@media only screen and (max-width: 1199.98px) {

}
/* Medium devices (tablets, less than 992px) */
@media only screen and (max-width: 991.98px) {

}
/* Landscape phones and portrait tablets */
@media only screen and (max-width: 767.98px) {

}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {


}
